# https://docs.npmjs.com/cli/v11/using-npm/config

# ignore-scripts=true
# prefer-offline=true
# registry=https://registry.npmmirror.com
audit=true
fund=false
min-release-age=7
registry=https://registry.npmjs.org
save-exact=true
update-notifier=false



# https://pnpm.io/npmrc

# ignore-dep-scripts=true
# shamefully-hoist=true
# strict-peer-dependencies=false