@reference "./tailwind.css";

/* disable mobile double click zooming */
* {
  touch-action: manipulation;
}

button {
  user-select: none;
}

:root {
  color-scheme: dark light;

  /* https://lightningcss.dev/transpilation.html#light-dark()-color-function */
  --theme-light: ;
  --theme-dark: initial;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply font-sans;
}

html {
  background: light-dark(#fff, #121212);
  color: light-dark(#000, #fff);
}

html.dark {
  color-scheme: dark;

  --theme-light: ;
  --theme-dark: initial;
}

html.light {
  color-scheme: light;

  --theme-light: initial;
  --theme-dark: ;
}

#app {
  height: 100%;
  contain: paint;
  overflow: clip;
  isolation: isolate;
}
