@import '@ziloen/tailwind-config/preset.css';

@import 'tailwindcss/preflight.css' layer(base);

@layer utilities {
  .btn {
    @apply inline-block cursor-pointer rounded border-none bg-green-700 px-4 py-1 text-white hover:bg-green-600 disabled:cursor-default disabled:bg-dark-gray-50 disabled:opacity-50;
  }

  .icon-btn {
    @apply inline-block cursor-pointer text-[0.9em] opacity-75 transition duration-200 ease-in-out !outline-none select-none hover:text-green-700 hover:opacity-100;
  }
}
